
[submodule "projects/gh-deployment-workflow/lucas-herranz-portfolio/themes/typo"]
	path = projects/beginner/gh-deployment-workflow/lucas-herranz-portfolio/themes/typo
	url = https://github.com/tomfran/typo.git
